.app {
  height: 100vh;
  display: flex;
  background: #020230;
  color: #fff;
}

.left-container {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.money-side {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 10rem;
  margin: auto;
  background: #0e0124;
  box-shadow: 2px 3px 15px black;
}

.bottom {
  height: 50%;
}

.earned {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4rem;
}
